<%= simple_form_for [@list, @bookmark] do |f| %>
  <div class="card shadow border-0 rounded-lg p-4">

    <div class="mb-3">
      <%= f.association :movie, collection: Movie.all, label_method: :title, value_method: :id, input_html: { class: 'form-control shadow-sm rounded' }, label: "Select a Movie" %>
    </div>

    <div class="mb-3">
      <%= f.input :comment, input_html: { class: 'form-control shadow-sm rounded' }, label: "Comment" %>
    </div>

    <div class="d-flex justify-content-end mt-4">
      <%= link_to "Cancel", list_path(@list), class: "btn shadow-sm rounded-pill px-4", style: "background-color: #6C757D; color: white;" %>
      <%= f.button :submit , class: 'btn shadow-sm rounded-pill px-4 ms-2', style: 'background-color: #FF385C; color: white;' %>
    </div>
  </div>
<% end %>
